<div class="col-xs-8">

    <ul class="nav nav-pills" role="pilllist">
      <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="pill" data-toggle="pill">Overview</a></li>
      <li role="presentation"><a href="#suggestions" aria-controls="suggestions" role="pill" data-toggle="pill">Suggestions</a></li>
      <li role="presentation"><a href="#risk_test" aria-controls="risk_test" role="pill" data-toggle="pill">Risk Test</a></li>
      <li role="presentation"><a href="#your_goals" aria-controls="your_goals" role="pill" data-toggle="pill">Your Goals</a></li>
    </ul>
  
      <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="overview">
      
        
        <div class="testBlock"><svg id="test1"></svg></div>
            
      </div><!--/#overview-->
      
      <div role="tabpanel" class="tab-pane" id="suggestions">suggestions stuff</div>
      <div role="tabpanel" class="tab-pane" id="risk_test">risk test stuff</div>
      <div role="tabpanel" class="tab-pane" id="your_goals">
      
            
        <div class="row">
            <div class="col-xs-6">
                <div class="portfolio-item">
                    <div class="item-inner">
                        <img class="img-responsive" src="{{ static('img/portfolio/recent/item1.png') }}" alt="">
                        <h5>
                            Nova - Corporate site template
                        </h5>
                        <div class="overlay">
                            <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="{{ static('img/portfolio/full/item1.jpg') }}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                    </div>
                </div>
            </div>                            
            <div class="col-xs-6">
                <div class="portfolio-item">
                    <div class="item-inner">
                        <img class="img-responsive" src="{{ static('img/portfolio/recent/item3.png') }}" alt="">
                        <h5>
                            Fornax - Apps site template
                        </h5>
                        <div class="overlay">
                            <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="{{ static('img/portfolio/full/item1.jpg') }}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                        </div>
                    </div>
                </div>
            </div>                       
        </div><!--/.row-->
        
      </div>
      
</div><!--/.col-->





<script>



$.ajax({
  type: 'GET',
  contentType: 'application/json; charset=utf-8',
  url: '{{url_for("chart_data") }}',
  dataType: 'json',
  async: true,
  data: '{}', 
  success: function (data) {
     var pos_data = data;
     reference_id = "#testBlock";
     draw_pie_chart(reference_id, pos_data);
  },
  error: function (result) {
  }

})

function draw_pie_chart(reference_id, json_data){

  // TODO: remove
  var testdata ={
    "asset_class_summary": [
      {"asset_class": "Cash",   "value": 80004  }, 
      {"asset_class": "Real Estate",  "value": 50000 }, 
      {"asset_class": "US Equity",  "value": 30004  }  ] };
  
  
  var width = 300;
  var height = 300;

  nv.addGraph(function() {
      var chart = nv.models.pie()
              .x(function(d) { return d.asset_class; })
              .y(function(d) { return d.value; })
              .width(width)
              .height(height)
              .labelType(function(d, i, values) {
                  return values.key + ':' + values.value;
              });
              
      d3.select("#test1")
              .datum([json_data["asset_class_summary"]])
              .transition().duration(1200)
              .attr('width', width)
              .attr('height', height)
              .call(chart);
      return chart;
  });
}


</script>