{% extends "base.html" %}
{% block body %}

<form class="form" id="risk-test" method="post">
     
  {% for question_id in range(question_prompts|length) %}

  <div>
      <div> {{question_prompts[question_id]}} </div>
      <div>
      <select class="form-control" data-width="auto" id="risk-question-{{question_id}}" name="risk-question-{{question_id}}">
          
          {% for poss_level in possible_annuity_levels %}
           <option value="{{ poss_level }}" > 
            {{ poss_level }} 
          </option>
          {% endfor %}
            
      </select>
      </div> 
      to spend per year
    </div>
  <br>

  {% endfor %}

  <br>

  <button id="btn-save-risk-levels" type="submit" class="btn btn-default">Save Risk Levels</button> 
  
</form>

{% endblock %}